:root {
    --yellow: #FFBA49;
    --blue: #20A39E;
    --coral: #EF5B5B;
    --purple: #23001E;
    --gray: #A4A9AD;
    --black: #0000;
    --white: #ffff;
}

html {
    font-family: 'Nunito', sans-serif; 
}

body {
    margin: 0;
}

header {
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    list-style-type: none;
    font-weight: ;
}

h1 {
    margin: 0;
    border-bottom: var(--white) solid 5px;
}

.menu {
    padding-right: 1em;
}

.introduction {
    background-color: var(--blue);
    color: var(--white);
}

.ponozky_img__img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.about {
    background-color: var(--yellow);
}

.why {
    background-color: var(--white);
}

.where {
    background-color: var(--purple);
}