:root {
    --yellow: #FFBA49;
    --blue: #20A39E;
    --coral: #EF5B5B;
    --purple: #23001E;
    --gray: #A4A9AD;
    --black: #0000;
    --white: #ffff;
}

html {
    font-family: 'Nunito', sans-serif; 
}

body {
    margin: 0;
}

header {
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    list-style-type: none;
    font-weight: bold;
    padding: 1em;
}

h1 {
    margin: 0;
    border-bottom: var(--white) solid 5px;
    max-width: min-content;
    margin-left: 1em;
    font-size: 2.5rem;
}

h2 {
    margin: 0;
    padding: 1em;
    font-size: 2rem;
}

p {
    padding: 1em;
}

.menu {
    padding-right: 1em;
    padding-left: 0;
}

.menu__a {
    color: var(--white);
    text-decoration: none;
}

.menu__a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menu__li {
    list-style-type: none;
}

.introduction {
    background-color: var(--blue);
    color: var(--white);
}

.ponozky_box__fler_logo {
    margin: 0;
}


.ponozky_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.ponozky_box__img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.about {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.why {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
}

.where {
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5em;
}

.where__h2 {
    color: var(--white);
    padding-top: 0em;
}

.button {
    background-color: var(--purple);
    color: var(--white);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: var(--yellow);
    color: var(--purple);
}

.join__text {
    font-weight: bold;
}